# üè° Min-Max Normalization Workshop
## Team Name: 
## Team Members: 
---

## ‚ùó Why We Normalize: The Problem with Raw Feature Scales

In housing data, features like `Price` and `Lot_Size` can have values in the hundreds of thousands, while others like `Num_Bedrooms` range from 1 to 5. This creates problems when we use algorithms that depend on numeric magnitudes.

---

### ‚ö†Ô∏è What Goes Wrong Without Normalization

---

### 1. üß≠ K-Nearest Neighbors (KNN)

KNN uses the **Euclidean distance** formula:

$$
d = \sqrt{(x_1 - x_2)^2 + (y_1 - y_2)^2 + \cdots}
$$

**Example:**

- $ \text{Price}_1 = 650{,}000, \quad \text{Price}_2 = 250{,}000 $
- $ \text{Bedrooms}_1 = 3, \quad \text{Bedrooms}_2 = 2 $

Now compute squared differences:

$$
(\text{Price}_1 - \text{Price}_2)^2 = (650{,}000 - 250{,}000)^2 = (400{,}000)^2 = 1.6 \times 10^{11}
$$
$$
(\text{Bedrooms}_1 - \text{Bedrooms}_2)^2 = (3 - 2)^2 = 1
$$

‚û°Ô∏è **Price dominates the distance calculation**, making smaller features like `Bedrooms` irrelevant.

---

### 2. üìâ Linear Regression

Linear regression estimates:

$$
y = \beta_1 \cdot \text{Price} + \beta_2 \cdot \text{Bedrooms} + \beta_3 \cdot \text{Lot\_Size} + \epsilon
$$

If `Price` has very large values:
- Gradient updates for $ \beta_1 $ will be **much larger**
- Gradient updates for $ \beta_2 $ (Bedrooms) will be **very small**

‚û°Ô∏è The model overfits high-magnitude features like `Price`.

---

### 3. üß† Neural Networks

A single neuron computes:

$$
z = w_1 \cdot \text{Price} + w_2 \cdot \text{Bedrooms} + w_3 \cdot \text{Lot\_Size}
$$

If:

- $ \text{Price} = 650{,}000 $
- $ \text{Bedrooms} = 3 $
- $ \text{Lot\_Size} = 8{,}000 $

Then:

$$
z \approx w_1 \cdot 650{,}000 + w_2 \cdot 3 + w_3 \cdot 8{,}000
$$

‚û°Ô∏è Even with equal weights, `Price` contributes **most of the activation**, making it difficult for the network to learn from other features.

---

### ‚úÖ Solution: Min-Max Normalization

We apply the transformation:

$$
x_{\text{normalized}} = \frac{x - x_{\text{min}}}{x_{\text{max}} - x_{\text{min}}}
$$

This scales all features to a common range (typically $[0, 1]$).

| Feature      | Raw Value | Min     | Max     | Normalized Value |
|--------------|-----------|---------|---------|------------------|
| Price        | 650,000   | 250,000 | 800,000 | 0.72             |
| Bedrooms     | 3         | 1       | 5       | 0.50             |
| Lot_Size     | 8,000     | 3,000   | 10,000  | 0.714            |

‚û°Ô∏è Now, **each feature contributes fairly** to model training or distance comparisons.

---

## üìå Use Case: Housing Data
We are normalizing features from a real estate dataset to prepare it for machine learning analysis.

In [2]:
# üî¢ Load and display dataset
import pandas as pd
df = pd.read_csv('.\data\housing_data.csv')
df.head()

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
C:\Users\fasal\AppData\Local\Temp\ipykernel_10272\260005469.py:3: SyntaxWarning: invalid escape sequence '\d'
  df = pd.read_csv('.\data\housing_data.csv')

,House_ID,Price,Area_sqft,Num_Bedrooms,Num_Bathrooms,Year_Built,Lot_Size
0,H100000,574507,1462,3,3,2002,4878
1,H100001,479260,1727,2,2,1979,4943
2,H100002,597153,1403,5,2,1952,5595
3,H100003,728454,1646,5,2,1992,9305
4,H100004,464876,853,1,1,1956,7407

### üîé Step 1 ‚Äî Implement Min-Max Normalization on the Housing Dataset

In [ ]:
# ‚úçÔ∏è Implement Min-Max Normalization manually here (no sklearn/numpy)
# Normalize: Price, Area_sqft, Num_Bedrooms, Num_Bathrooms, Lot_Size

In [4]:
# Manual Min-Max Normalization
# Columns to normalize
columns_to_normalize = ['Price', 'Area_sqft', 'Num_Bedrooms', 'Num_Bathrooms', 'Lot_Size']

# Create a copy of the dataframe to store normalized values
df_normalized = df.copy()

# Function to perform Min-Max normalization on a single column
def min_max_normalize(column):
    min_val = min(column)
    max_val = max(column)
    # Check for division by zero
    if max_val == min_val:
        return [0] * len(column)  # Return zeros if all values are the same
    return [(x - min_val) / (max_val - min_val) for x in column]

# Apply normalization to each column
for col in columns_to_normalize:
    df_normalized[f'{col}_normalized'] = min_max_normalize(df[col])

# Display the first few rows of the normalized dataframe
df_normalized[[f'{col}_normalized' for col in columns_to_normalize]].head()

,Price_normalized,Area_sqft_normalized,Num_Bedrooms_normalized,Num_Bathrooms_normalized,Lot_Size_normalized
0,0.485226,0.315789,0.50,1.0,0.320814
1,0.387827,0.394588,0.25,0.5,0.326191
2,0.508384,0.298246,1.00,0.5,0.380129
3,0.642651,0.370503,1.00,0.5,0.687045
4,0.373119,0.134701,0.00,0.0,0.530030

### üîé Talking Point 1 ‚Äî [Insert your review comment here]

Reviwed by:
- Name
- Name
- Name